<h1>Editar categoría</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Ver Detalle", @category, class: 'btn btn-primary' %> |
  <%= link_to "Regresar al Listado", categories_path, class: 'btn btn-warning' %>
</div>

<script>
  const form = document.querySelector("#edit_category_form");
  form.addEventListener("submit", () => {
    alert("Categoría actualizada correctamente");
  });
</script>
